#center{
    /* border: 2px solid red; */
    min-height: 700px;
    width: 40%;
    align-items: center;
    border-radius: 10px;
    margin:  100px 0 0 60px;
    
}
#center input{
    border: 1px solid green;
    width: 80%;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 30px;
}
#Register{
    color: green;
    font-size:5px;
}
#center button{
    /* border: 2px solid red; */
    width: 80%;
    height: 45px;
    background-color: green;
    color: white;
    border: white;
    border-radius: 10px;
    margin-left: 15px;

}.signinandsignup{
    display: flex;
    /* border: 2px solid red; */
    min-height: 50px;
    /* width: 70px; */
    text-align: center;
    align-items: center;
    justify-content: center;

}
.signinandsignup div{
    /* background-color: yellow; */
    height: 50px;
    margin: 5px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;;
}
#nda{
    /* border: 2px solid red;   */
    display: flex;
    /* width: 50%; */
}
#select{
    /* border: 2px solid yellow; */
    width: 80%;
    background-color: darkseagreen; 
}
#forgot{
    margin-left: 250px;
}
.nda-logo{
    margin-left: 100px;
}
.nda-school{
    margin: 200px;
    /* font-size: 20px; */
}

